{% load staticfiles %}
{% load static %}
{% load poll_extras %}

<!DOCTYPE html>
<html lang="en">
<head>  

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link  rel="stylesheet" href="{% static 'css/style.css' %}">
 

    <title>Document</title>
</head>

<body>
    <div class="navbar navbar-inverse navbar-static-top">
              

        <div class="container">
                {% if user.is_authenticated %}
                <img style="text-align: left; margin: 1%;" src="{{user.id|get_foto}}" class="img-circle" width="62" height="62"> 
            
                <!-- <p>Olá, {{ request.user.first_name}}</p> -->
                <!-- <p class="navbar-brand js-scroll-trigger">Olá, {{ request.user.first_name}}</p> -->
                {% endif %}  
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                <img src="https://img.icons8.com/ios/50/ffffff/menu-filled.png" width="26">
            </button>

            <div class="collapse navbar-collapse navHeaderCollapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/">Inicio</a></li>
                    <li><a href="{% url 'calc' operador='+' %}">Somar</a></li>
                    <li><a href="{% url 'calc' operador='-' %}">Subtrair</a></li>
                    <li><a href="{% url 'calc' operador='*' %}">Multiplicar</a></li>
                    <li><a href="#">Dividir</a></li>
                    <li><a href="{% url 'logout' %}">Sair</a></li>
                </ul>

            </div>

        </div>
    </div>


        {% block content %}
        {% endblock %}

    

    <footer class="container-fluid">
        <p>DENNY ERIKSON &copy; 2018</p>
    </footer>
    
</body>


</html>