{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

    <div class="header">


        <div class="container">
                <style>
                    body {
                        background: url('{% static 'img/src/fundo.jpg' %}');
                        background-attachment: fixed;
                        background-repeat: no-repeat;
                        background-size: auto 100%;
                        background-position: center
                        
                    }

                </style>
                
                    <body >
                            <h1>Tarefa Online</h1>
                        
                    </body>
            
        </div>
    </div>

{% endblock %}